@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
/* Global Section */
* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  --main-text-color: #0891f8;
  --sub-page-text: #1d267d;
  --bg-color-main: #fffbf2;
  --bg-color-secondary: #1c375b;
  --bg-color-white: #ffffff;
  --socials-color: #055897;
  background-color: var(--bg-color-main);
}

.sectionTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.sectionTitle .verticalLine {
  width: 3px;
  height: 100px;
  background-color: var(--bg-color-secondary);
  margin: 50px 0px 20px;
}

.sectionTitle > p:first-of-type {
  font-size: 2rem;
  color: var(--main-text-color);
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 0.2rem;
  margin: 0;
}
/* End Global Section */
/* Start Header Section */
header {
  position: relative;
  background: url(../images/closeup-pen-blur-background.PNG) no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 100vh;
}

header::after {
  content: "";
  position: absolute;
  background-image: url(../images/overlay-bottom.avif);
  bottom: -1px;
  width: 100%;
  height: 15px;
}

.navbar {
  height: 100px;
}

.navbar-toggler:focus {
  box-shadow: none;
}

.navbar-toggler-icon {
  font-size: 35px;
  padding-top: 5px;
}
.navbar .navbar-brand {
  width: 140px;
}

.navbar .navbar-nav {
  font-size: 20px;
}

.navbar .navbar-nav a {
  color: black;
}

.navbar .navbar-nav a:hover {
  color: var(--main-text-color);
}

.navbar .navbar-nav .active {
  color: var(--main-text-color);
}

.hero-section {
  height: calc(100vh - 100px);
}

.hero-section .header-content h1 {
  font-weight: 500;
  color: var(--main-text-color);
}

.hero-section .header-content {
  font-size: 1.1rem;
}

.up-arrow {
  position: relative;
}

.up-arrow .arrow a {
  transition: all 0.5s ease-out;
  color: var(--main-text-color);
  font-size: 20px;
  position: fixed;
  right: 20px;
  bottom: 80px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 50%;
  text-align: center;
  width: 50px;
  height: 50px;
  line-height: 50px;
}

.up-arrow .arrow a:hover {
  background-color: var(--bg-color-secondary);
}
/* End Header Section */
/* Start Courses Section */
.courses-section {
  min-height: 1000px;
  background-color: var(--bg-color-main);
}

.col .card {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
/* End Courses Section */
/* Start About-us Section */
.about-section {
  min-height: 1400px;
  background-color: var(--bg-color-white);
}

.about-section .about-img img {
  width: 600px;
}

.about-section .about-video video {
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 50px;
}

.about-content > div:not(:nth-child(2)) {
  flex-basis: 300px;
}
/* End About-us Section */
/* Start Partners Section */
.partners-section {
  background-color: var(--bg-color-main);
  padding-bottom: 5rem;
}

.partners-section .partners img {
  border-radius: 10px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
/* End Partners Section */
/* Start Contact Us Section */
.contact-section {
  min-height: 800px;
  background-color: var(--bg-color-white);
}

.contact-section .info .icons {
  flex-basis: 200px;
}

.contact-section .info .icons .icon {
  font-size: 3rem;
  background-color: var(--bg-color-main);
  color: var(--main-text-color);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);

  border-radius: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
}
/* End Contact Us Section */
/* Start Links Section */
.links-section {
  background-color: var(--bg-color-main);
}

.links-section .container {
  min-height: 500px;
}

.links-section .links {
  flex-basis: 200px;
}

.links-section .brand-links a {
  padding-bottom: 20px;
}

.links-section .links p:first-child {
  font-size: 20px;
  font-weight: 700;
  color: var(--bg-color-secondary);
}

.links-section .links a {
  text-decoration: none;
  padding-bottom: 10px;
  color: var(--socials-color);
}

.links-section .links .social-links .social {
  background-color: var(--bg-color-white);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  font-size: 20px;
  margin-right: 5px;
}
/* End Links Section */
/* Start Footer Section */
footer {
  min-height: 50px;
  padding-top: 20px;
  background-color: var(--main-text-color);
}

footer .right a {
  text-decoration: none;
  margin-left: 20px;
  color: black;
}
/* End Footer Section */
/* Start Contact Us Page  */
.sub-page {
  height: 80vh;
}

.sub-page .hero-section {
  height: calc(80vh - 100px);
}

.sub-page .hero-section .header-content p {
  font-weight: 500;
  font-size: 1.2rem;
  color: var(--sub-page-text);
}

.sub-page .hero-section .header-content a {
  text-decoration: none;
  color: var(--main-text-color);
}

.sub-page .hero-section .header-content h1 {
  font-weight: 500;
  color: var(--sub-page-text);
}

.main-color {
  background-color: var(--bg-color-main);
  padding: 200px 0;
}

.main-color .info .icons .icon {
  background-color: var(--bg-color-white);
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.sub-links .links .social-links .social {
  background-color: var(--bg-color-main);
}

.sub-courses-section {
  padding: 200px 0;
}

.sub-about-section {
  padding: 200px 0 20px;
}

.sub-about-page::after {
  background-image: url(../images/overlay-bottom-white.avif);
}
/* End Contact Us Page  */
/* Start Media Query */
@media (max-width: 540px) {
  .about-section .about-img img {
    width: 100%;
  }

  .about-section .about-video video {
    width: 100%;
  }

  .up-arrow {
    display: none;
  }

  .about-content > div:not(:nth-child(2)) {
    flex-basis: 0;
  }
}

@media (max-width: 1200px) {
  .about-section .about-video video {
    width: 100%;
  }

  .about-content > div:not(:nth-child(2)) {
    flex-basis: 0;
  }
}
/* End Media Query */
